.header {
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

@media (max-width: 1300px) {
  .header {
    margin-top: 25px;
  }
}

.logo {
  width: 163px;
  margin-left: 45px;
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Roboto';
  font-size: 14px;
}

.menuLogo {
  display: flex;
  align-items: center;
}

.divider {
  width: 30px;
  height: 0px;


  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}

.iconSvg {
  margin-left: 15px !important;
  color: var(--third-color);
}

.amount {
  display: flex;
  align-items: center;
  gap: 7px;
}

.amountText {
  color: white;
  padding: 4px 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.btn {
  width: 30px;
  height: 33px;
  cursor: pointer;
}

.btnClose {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #F33FFF; */
}

.btnClose::after {
  position: absolute;
  content: ' ';
  width: 69%;
  left: 11%;
  top: 42%;
  height: 1px;
  border: 1px solid #FFFFFF;
  background-color: aliceblue;
  border-radius: 15px;
  transform: rotate(136deg);
}

.btnClose::before {
  position: absolute;
  content: ' ';
  width: 69%;
  left: 11%;
  top: 42%;
  height: 1px;
  border: 1px solid #FFFFFF;
  background-color: aliceblue;
  border-radius: 15px;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .iconSvg {
    display: none;
  }

  .header {
    margin-top: 21px;
    position: fixed;
    width: 100%;
  }

  .logo {
    width: 107px;
  }

  .menuNav {
    gap: 20px;
  }

  .divider {
    display: none;
  }

  .menuMobile {
    margin-top: 19px;
    position: fixed;
    width: 100%;
    background-color: #084154;
    padding: 17px 14px;
    top: -19px;
  }
}