.sectionCard {
  position: relative;
  top: -140px;
  padding: 0;
}

.allCards {
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .sectionCard {
    top: -55px;
  }
}

@media (max-width: 1000px) {
  .sectionCard {
    top: -36px;
  }
}