@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
  --primary-color: #3EC6E0;
  --second-color:  #084154;
  --third-color:  #EBEBEB;
  --gap: 3rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}
ul {
  color: var(--second-color);
  font-family: 'Raleway', sans-serif;
  list-style: none;
}

p {
  color: var(--second-color);
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: var(--second-color);
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  color: var(--second-color);
  margin-bottom: .5rem;
}
