.listaMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  width: 565px;
  min-height: 249px;
  left: -3%;
  top: -18.52px;
  background: #084154;
  border: 2px solid #3EC6E0;
  border-radius: 5px;
  padding: 32px;
  gap: 15px;

}

.border {
  border: #3EC6E0 solid 10px;
  position: absolute;
  width: 565px;
  min-height: 249px;
  left: 4%;
  top: 67.48px;
  background: #084154;
  border-radius: 5px;
}


.listaText {
  color: #fff;
}

.ListaTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.listaMenu ul li {
  margin-bottom: 15px;
}



@media (max-width: 768px) {
  .listaMenu {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    left: 0;
    top: 55.48px;
    padding-bottom: 0;
    border: none;
  }

  .ListaTitle {
    font-size: 24px;
  }

  .border {
    position: unset;
    width: 0%;
    min-height: 0%;
    border: none;
  }
}