.header {
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

@media (max-width: 1300px) {
  .header {
    margin-top: 25px;
  }
}

.logo {
  width: 163px;
  margin-left: 30px;
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Roboto';
  font-size: 14px;
}

.menuLogo {
  display: flex;
  align-items: center;
}

.divider {
  width: 30px;
  height: 0px;


  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
}

.iconSvg {
  margin-left: 15px !important;
  color: var(--third-color);
}

@media (max-width: 768px) {
  .iconSvg {
    display: none;
  }

  .header {
    margin-top: 21px;
    position: fixed;
    width: 100%;
  }

  .logo {
    width: 107px;
  }

  .menuNav {
    gap: 20px;
  }

  .divider {
    display: none;
  }

}