.header {
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-around;
}

.logo {
  width: 163px;
  margin-left: 30px;
}

.menuNav {
  display: flex;
  gap: 30px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 30px;
  vertical-align: Top;
}

.menuLogo {
  display: flex;
  align-items: center;
}

.divider {
  width: 30px;
  height: 0px;
  position: relative;
  top: 13px;

  border: 1px solid #000;
  transform: rotate(90deg);
}