.sectionContainer {
  position: absolute;
  top: 0;
}

.textBanner {
  position: absolute;
  top: 199px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 22%;
}

.textPrice {
  color: #3EC6E0;
  font-weight: 900;
  font-size: 70px;
  line-height: 82px;
  font-family: "Roboto";
}

.decimais {
  font-size: 28px;
  position: relative;
  bottom: 26px;
}

.textParag {
  max-width: 420px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: right;
  color: #FFFFFF;
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .imgBanner {
    height: 436px;
  }
}

@media (max-width: 1200px) {
  .textBanner {
    height: 436px;
    top: 124px;
    padding-right: 17%;
  }
}

@media (max-width: 1000px) {
  .textBanner {
    height: 436px;
    top: 207px;
    padding: 0 7%;
    background: rgba(0, 0, 0, 0.65);
    height: 230px;
  }

  .textPrice {
    font-size: 48px;
    line-height: 37px;
  }

  .decimais {
    font-size: 28px;
    bottom: 13px;
  }

  .textParag {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
  }
}